body {
    margin: 0;
}

#tablero {
    display: grid;
    grid-template-columns: repeat(15, 1fr);
    gap: 2px;
    background-color: #111a2e;
    padding: 10px;
    width: fit-content;
}

.casilla {
    width: 35px;
    height: 35px;
    border: 1px solid #233554;
    box-sizing: border-box;
}

.margin-inline-auto {
    margin-inline: auto;
}

.text-align-center {
    text-align: center;
}

.fraseAmarilla {
    color: yellow;
}

.padding-20px {
    padding: 20px;
}

.width-100percent  {
    width: 100%;
}

.contendorbienvenida {
    background-color: rgb(31, 31, 39);
    flex-direction: column;
    display: flex;
    align-items: center;
    justify-content: center;
    text-align: center;
}

.frasesPrincipales {
    color: #ffffff8e;
}

.hidden {
    display: none;
}


.subtitulo {
    color: rgb(185, 198, 209);
}

.fraseVerde {
    color: chartreuse;
}

.boton {
    background-color: chartreuse;
    width: 100%;
}

